<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>کدیاد-بلاگ</title>
    <link rel="stylesheet" type="text/css" href="LoginLayout/css/main.css" />
</head>

<body>
<div class="container">
    <section id="content">
      
    </section>
</div>
</body>

</html>